html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  margin: 0;
  line-height: 2.8rem;
  height: 100dvh;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 5.6rem;
  line-height: 7rem;
}

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #fff;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: #000;
}

.btn-dark {
  background-color: #13183f;
}

.btn-pink {
  background-color: #f74780;
}

.btn-dark-pink {
  background: linear-gradient(#4851ff, #f02aa6);
}

.hero-card {
  width: 46rem;
}

.hero-img-container {
  width: 50rem;
  position: absolute;
  top: 0;
  left: 80%;
  overflow: hidden;
}

main {
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: linear-gradient(to bottom, #fff, #83869a);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.main-card {
  width: 35rem;
  height: 32rem;
  padding: 10rem;
  background-color: #fff;
  border-radius: 2rem;
}

.check-out {
  background: linear-gradient(#f02aa6, #ff6f48);
  color: #fff;
}

footer {
  background-color: #13183f;
}

footer section {
  display: flex;
  height: 12rem;
  justify-content: space-between;
  align-items: center;
}
